body{
    background: #f7f7ff;
    margin-top:20px;
}
.card {
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}

p{
    border:1px solid #000;
    display:inline-block;
}

@media (min_width: 768px)
{
    .col-border::before{

        content:"";
        position: absolute;
        top: 0;
        bottom:0;
        border-left: 1px solid red;


    }
}
