.livres {
    padding-top: 50px;
}

.livre {
    display: inline-grid;
    margin: 0px 10px 10px 0px;
}

.text-muted{
    padding-top: 20px;
}

.img-fluid {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

