<!-- Research menu -->

<div class="container-fluid">

    <div class="form-group row" style="background-color: rgb(201, 201, 192);">
        <div id="advanced" style="display: block ; margin-top: 20px;">
            <div>
                <div class="form-group row">
                    <div class="col-md-6 col-sm-12 mb-3">
                        <input [(ngModel)]="nom" type="text" class="form-control input-lg" id="inputName" placeholder="Nom du livre">
                        <div class="valid-feedback">Ok !</div>
                        <div class="invalid-feedback">Valeur incorrecte</div>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                        <select [(ngModel)]="topic" id="inputTheme" class="form-control input-lg">
                            <option *ngFor="let topic of topics" [value]="topic">{{topic}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                        <select [(ngModel)]="language" id="inputLanguage" class="form-control input-lg">
                            <option *ngFor="let language of languages" [value]="language.lang">{{language.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                        <input [(ngModel)]="motRecherche" type="text" class="form-control input-lg" id="inputName" placeholder="Recherche par mot">
                        <div class="valid-feedback">Ok !</div>
                        <div class="invalid-feedback">Valeur incorrecte</div>
                    </div>
                </div>
            </div>
        </div>
    <button class="btn btn-dark" type="submit">Envoyer</button>
</div>


<!--Book list-->
<div class="container livres">
    
    <div class="card mb-3" style="max-width: 540px;" *ngFor="let livre of livres">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" [src]="livre.formats['image/jpeg']" alt="Card image cap">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
    </div>

</div>
